<launch>
    <node pkg="speech_recognition_whisper" type="whisper_server.py" name="whisper_server" output="screen" >
        <param name="model"         value="small.en"/>
        <param name="sample_rate"   value="44100"/>
        <param name="chunk_size"   value="1024"/>
        <param name="channels"   value="1"/>
    </node>
</launch>